{% assign section = include.section %}

{% case section.type %}
  {% when 'cards' %}
    <div class="card-section">
      {% for item in section.items %}
      <div class="card">
        <div class="card-logo">
          <img src="{{ item.logo | relative_url }}" alt="{{ item.title }}">
        </div>
        <div class="card-content">
          {% for c in section.content %}
            {{ c | split: "" | join: "</p><p>" | prepend: "<p>" | append: "</p>" }}
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>

  {% else %}
    <!-- Add more section types here -->
{% endcase %}
